<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/posts?page=1">Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/posts?page=1">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/posts/new">Create</a>
        </li>

      </ul>
      <div class="navbar-nav ms-auto me-5">
        <% if(currentUser) {%>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= username %> 
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
              <li><a class="dropdown-item" href="/posts/user-posts/<%= currentUser %>">Your posts</a></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
              
            </ul>
          </li>
        <% } else {%>
            <a href="/login" class="nav-link">Login</a>
            <a href="/register" class="nav-link">Register</a>
            <% } %>
      </div>
    </div>
  </div>
</nav>