<% layout('layouts/boilerplate.ejs') %> 

<link rel="stylesheet" href="/stylesheets/form-validation.css">

<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 border p-4">
            <h3>Register</h3>
            <form method="post" action="/register" id="register-form">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                    <p id="message"></p>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
                    <p id="message"></p>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                    <p id="message"></p>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<script defer src="/scripts/register-validation.js"></script>